
<ul>
  <% @lists.each do |list| %>
    <%= link_to list.name, list_path(list) %>
  <% end %>
</ul>

<div class="container2">
  <% @movies.each do |movie| %>
  <div class="movie-grid-item">
    <%= movie.title %>
    <%= image_tag movie.poster_url, alt: movie.title, width: 200%>
  </div>
  <% end %>
</div>
