.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://i.pinimg.com/originals/6c/27/c1/6c27c15cf1549c4fe2fb9ace0944bc79.gif");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 600px;
  text-align: center;
}

.banner h1 {
  color: white;
  font-size: xx-large;

}
